.message {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    background-color: #99ff99;
    padding: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-indent: 10px;
}

.username {

}