body {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

.message {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    background-color: #99ff99;
    padding: 10px;
    margin-right: 10px;
    text-indent: 10px;
    display: inline-block;
}

.username {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
}